# Node modules
node_modules/

# Build outputs
dist/
build/

# Logs
*.log

# Environment files
.env

# Docker
**/Dockerfile
**/.dockerignore

# OS-specific files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.swp

# Coverage
coverage/